
@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section id="about-page" class="d-flex flex-column justify-content-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-8">
                <h1>The Story of Southern Cabinetry</h1>
            </div>
        </div>
    </div>
</section>

<section id="features" class="features">
    <div class="container">

        <div class="row">
            <div class="image col-lg-6 order-2 order-lg-2" style='background-image: url("../img/About_Page.jpg");'></div>
            <div class="col-lg-6 order-1 order-lg-1">
                In 1994 Don Strieter, founder and current President of Southern Cabinetry, started manufacturing kitchen
                cabinets at his father-in-law's barn. After a few years of kitchen cabinet building with two employees, Don bid his
                first commercial project; University of Rio Grande awarded Southern Cabinetry a dormatory furniture package.
                After sucessfully finishing this project the buisness headed strictly towards the commercial field. Dons's
                first two Ohio school projects were completed in the barn.  Once the company was successfully awarded more
                commecial bids, Southern Cabinetry moved to it’s second location in an abandond boat facility.
                After a long two and a half years, Southern Cabinetry bought 10 acres of land in the Bidwell, Ohio Industrial park.
                Later, in 2003 our current facility was built and has since expanded 4 times throughout the years.
                We now utilize 42,000 square feet of manufacturing space and are striving towards automating all of our processes to stay competive
                with our growing market.
            </div>
        </div>

    </div>
</section>


</section>